
   body {
   	font-family: Barlow, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #EFF2F7;
    margin: 0;
    height: 100%; 
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
input[type=text], input[type=email], input[type=number], input[type=password], input[type=phone] {
    width: 100%;
    color: #000 !important;
    outline: none;
}

textarea {
    width: 95% !important;
}
select {
    width: 114%;
}

@media only screen and (max-width: 700px) {

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
}
/** Navigation Menu **/

.header {
    position: fixed;
    height: 60px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #EEE;
    padding: 1em 4em;
    background-color: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}


.header__logo {
    height: 55px;
    width: 145px;
    /* left: 50px; */
    /* display: inline-block; */
    background-size: cover;
    background-image: url(../img/broad-bank.png);
    cursor: pointer;
    position: absolute;
    /* z-index: 0; */
    /* float: left; */
}

@media only screen and (min-width: 767px) {
.header__account {
    float: right;
    position: relative;
    margin-right: 20px;
    width: 30%;
	}
    .st-container {
        display: none;
    }
    .header__hamburger {
    display: none;
    }

}
@media only screen and (max-width: 800px) {
#headerAccount {
   display: none;   
}
.header__account {
z-index: 99;
}
}

.header__account__buttons {
    z-index: 20;
    min-width: 500px;
    float: right;
    margin-top: 30px;
}
.header__account__buttons .menu__link a{
    text-decoration: none;
    color: #03567C;
    font-size: 16px;
    font-weight: bold;
}
.header__account__buttons .menu__link a:hover {
    color: orange;
    cursor: pointer;
}

.relative {
    position: relative;
}
.no-margin {
    margin: 0;
}
.col-xs-6 {
    float: right;
    width: 70%;
}
.account__profile {
    display: inline-block;
    cursor: pointer;
    max-width: 85px;
    margin-left: 200px;
}
.navbar__icon {
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar__text {
    display: inline-block;
    font-weight: 600;
    max-width: 120px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
}
.account .submenu {
    width: 100px;
    background: #fff;
    margin-top: 25px;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.06);
    position: absolute;
    border-radius: 3px;
   
}
.submenu {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.submenu-ul {
    list-style: none;
    padding: 1em 10px;
    margin: 0;
    cursor: pointer;
}
.show {
	 display: none;
}
.submenu-ul li{
	margin-top: 10px;
}
.submenu-ul a {
	color: #000;
	text-decoration: none;
}
.submenu-ul a:hover {
    color: orange;
}
@media only screen and (max-width: 700px) {
        .header__hamburger {
            display: grid;
            grid-template-columns: 10% 50% 40%;
             grid-column-gap: 1%;
        }
        .header__hamburger button {
            margin-top: 10px;
        }
        .header__hamburger .btn__login {
            margin-top: 30px;
        }
        .header__tt__buttons {
        	display: none;
        	}
        .account__side__wrapper {
            display: none;
        }

        .st-pusher {
                    position: relative;
                    top: 81px;
                    left: 0;
                    z-index: 1;
                    -webkit-transition: -webkit-transform 0.5s;
                    transition: transform 0.5s;
                }

        .st-pusher::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            background: rgba(0,0,0,0.2);
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        }

        .st-menu-open .st-pusher::after {
            width: 100%;
            height: 100%;
            opacity: 1;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }
    .st-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        visibility: hidden;
        width: 300px;
        height: 100%;
        background: #005F89;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        overflow: scroll;
    }
    .st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    }

    .st-menu-open .st-menu::after {
        width: 0;
        height: 0; 
        opacity: 0;
        -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }

            /* content style */

        .st-menu ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 18px;
        }

        .st-menu .profile__image__mobile {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-column-gap: 1%;
        }
        .mobile-profile-image {
            position: relative;
            top: 10px;
            left: 10%;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 10px solid #DADADA;
            background: #DADADA;
        }
        .mobile-profile-image img{
            width: 100%;
            border: 1px solid #DADADA;
            border-radius: 50px;
        }
        .mobile-logout button {
            margin-top: 50px;
            background:#03567C;
            padding: 10px 20px;
            border-radius: 30px;
            border: none;
            outline: none;
            color: #fff;
            font-weight: 700;
        }
        .st-menu ul li a {
            display: block;
            padding: 1em 1em 1em 1.2em;
            outline: none;
            box-shadow: inset 0 -1px rgba(0,0,0,0.2);
            color: #f3efe0;
            text-decoration: none;
            text-transform: uppercase;
            text-shadow: 0 0 1px rgba(255,255,255,0.1);
            letter-spacing: 1px;
            font-weight: 400;
            padding: 25px 20px;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
        }

        /* Effect 1: Slide in on top */
        .st-effect-1.st-menu {
            visibility: visible;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        .st-effect-1.st-menu-open .st-effect-1.st-menu {
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .st-effect-1.st-menu::after {
            display: none;
        }

}
/** Side Menu Navigation First Level **/

@media only screen and (min-width: 992px) {
    .sidebar__fixed--vertical {
    position: fixed;
    height: 100%;
    width: 250px;
    padding-top: 71px;
    left: 0;
    z-index: 10;
}
.sidebar__nav {
    padding: 1rem 0;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005F89', endColorstr='#005F89', GradientType=0);
    position: absolute;
    top: 85px;
    width: 100%;
    height: 100%;
}

.sidebar__nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar__nav a {
        color: #fff;
        text-decoration: none;
}

.sidebar__list .fa {
    display: block;
}
.sidebar__list {
    margin: 10px 0;
    cursor: pointer;
}
.sidebar__nav__link.active {
    background-color:#03567C;
    box-shadow: -2px 0px 10px 0px rgba(191, 37, 50, 0.51);
    border-left: 4px solid #fff;
    cursor: pointer;
}
.sidebar__list a:hover {
    color: orange;
}

.sidebar__fixed--vertical .sidebar__nav__link {
    display: block;
}
	.sidebar__fixed--vertical {
    width: 105px;
	}
	.sidebar__nav__link {
    padding: 1em;
    text-align: center;
	}

}

/*Side Navigation Second Level*/
.account__side__wrapper {
    background:#03567C;
    position: fixed;
    left: 105px;
    top: 80px;
    height: 100%;
}
.account__side__wrapper a {
	display: block;
	 color: #fff;
	 text-decoration: none;
	 font-size: 16px;
	 width: 100%;
}
.account__side__wrapper a:hover {
	background-color: #063c54;
    color: orange;
}

.account__categories__list {
    padding-bottom: 130px;
    position: relative;
}
.ps-container {
	padding: 20px 0;
	text-align: center;
}

@media only screen and (min-width: 1000px) {
.account__side__wrapper {
    min-width: 260px;
    z-index: 1;
    overflow: scroll;
}
.col-md-12 {
    float: left;
    width: 100%;
	}
	.mobile__profile {
	display: none;
	}
    header {
    z-index: 99;
    }
    .sidebar__nav {
        background-image: linear-gradient(to bottom, #005F89 0%, #005F89 100%);
    }
    
}
@media only screen and (max-width: 700px) {
    .sidebar__nav {
        margin: -12px;
    }
}



/** Footer **/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: white;
    z-index: 0;
    font-size: 1.3em;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    color: #818a91;
    padding: 0 2em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/** Banner **/
.home__slider {
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-image: url(../img/broad-bank-banner.png);
    background-size: cover;
    overflow: hidden;
}
@media only screen and (max-width: 3000px) and (min-width: 1000px) {
 .home__slider {
  /*  margin-left: 100px;*/
     top: 85px;
}
}
@media only screen and (max-width: 700px)  {
 .home__slider {
    background-size: cover;
    background-repeat: no-repeat;
}
}


.btn {
    position: relative;
    bottom: 20px;
    padding: 0 1em;
    line-height: 35px;
    border-radius: 4px;
    font-size: 0.89em;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
}

/** Sign Up **/
.account__modal .rodal {
    z-index: 101 !important;
}

.rodal {
    position: fixed;
       background: rgba(3, 86, 124, 0.8);
    color: #fff;

}

.rodal-fade-enter {
    -webkit-animation: rodal-fade-enter both ease-in;
    animation: rodal-fade-enter both ease-in;
}
.rodal, .rodal-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: scroll;
}

.account__modal .rodal-dialog {
    background: transparent;
    box-shadow: none;
    margin-top: 0 !important;
    top: 0;
    padding: 8rem 1em 1em 1em;
    overflow-y: auto;
}
.rodal-zoom-enter {
    -webkit-animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}
.rodal-dialog {
    position: absolute;
    right: 5%;
    z-index: 101;
    padding: 15px;
    width: 90%;
}
.account__alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.account__close--wrapper {
    position: relative;
    margin: 0 auto;
    text-align: right;
    /*top: -30px;*/
}
.account__close {
    width: 45px;
    height: 45px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}
.account__lg--width {
    max-width: 440px;
    margin: 0 auto;
    padding: 1em;
}
.account__heading {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 1rem;
    text-align: center;
}
.form-group {
    margin-bottom: 0.8rem;
}
.float__label {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 0.79em;
    transform: translateY(10px);
    transition: all 100ms ease-in;
}
.form-control {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.account__links {
    font-size: 16px;
    text-align: center;
}
.account__links a {
    color: orange;
    text-decoration: none;
}
.btn-account {
    color: #FFF;
    background-color: #03567C;
    /* border-color: transparent; */
    border: 1px solid orange;
    width: 100%;
    margin-top: 1.2rem;
    margin-left: 0;
}
@media only screen and (max-width: 700px) {
 .btn-account {
    width: 110% !important;

}
}
/** Account Profile **/
.main {
    width: 100%;
}
 .bb__container {
    position: absolute;
    top: 85px;
    bottom: 35px;
    width: 100%;
    height: auto;
    overflow: auto;
    background: #f9fafc;
}
@media only screen and (max-width: 3000px) and (min-width: 1000px) {
/* .bb__container {
    height: 80%;
}*/
.form-control {
    width: 105%;
}
}
@media only screen and (max-width: 700px) {
 .bb__container {
    height: 80%;

}
}


.topProfileCon {
    display: block;
    width: 100%;
    height: 150px;
    z-index: 99;
}
.topProfileCon .profileWrapper {
    background: url(../img/bg.png) no-repeat;
    background-position: 50% 99%;
    background-size: cover;
    height: 100%;
    padding-top: 10px;
    width: 100%;
    opacity: 1;
    position: relative;
}

.topProfileCon .profileimg {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.PR {
    position: relative;
}
.DIB {
    display: inline-block;
}
.profileimg .userimg {
    border: 3px solid #FFFFFF;
}
.ssp-img {
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    border-radius: 100%;
}
.ssp-actions {
    position: absolute;
    top: 20px;
    right: 20px;
}
.bb__con {
    position: relative;
    left: 15%;
    display: inline-block;
    width: 80%;
}
.col_six {
    float: left;
    width: 47%;
    padding: 0px 5px;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
}
.col_four {
    float: left;
    width: 32%;
    padding: 0px 5px;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
}
@media only screen and (max-width: 700px) {
.bb__con {
    position: relative;
    left: 10% !important;
}
.col_six {
    width: 100%;
    }
.col_four {
    width: 100%;
    }
}
.bb__con .Card {
    margin-top: 20px;
}
.bordered {
    border-bottom: 1px solid #EFF2F7 !important;
}
.admin__dashboard {
    text-align-last: center;
}
.Card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
}
.prof_head {
    border: none;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
}
.prof_head h3 {
    font-size: 14px;
    font-family: "latobold";
    margin: auto;
    display: inline-block;
    vertical-align: sub;
}
.prof_body {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100%;
    overflow-y: inherit;
}
.prof_l2c {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    border-top: 1px solid #EFF2F7;
}
.prof_l2c ul {
    list-style: none;
    min-height: 30px;
    line-height: 30px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
   }
  .prof_l2c .prof_title {
    font-weight: bold;
    text-align: right;
    font-size: 14px;
  }

  /** New Account Page **/
   .new-account__container {
    position: absolute;
    top: 85px;
    width: 100%;
    overflow: auto;
    background: #f9fafc;
}

.col_ten {
    float: left;
    width: 85%;
    padding: 0px 5px;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
}
@media only screen and (max-width: 700px) {
.col_ten {
    width: 100%;
    }
}

.form__width {
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
}

@media only screen and (min-width: 700px) {
.double__field {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}
.triple__field {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 2%;
}
.quad__field {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1%;
}
}

/** Account History **/

.table__width {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
/*  overflow: scroll;*/
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background: #f2f2f2;}

.table tr:hover {background: #d1d1d1;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #03567C;
  color: white;
}
.table td {
    cursor:pointer;
}


/** Action Buttons **/
.action__button div {
    border: none;
    padding: 8px 20px;
    margin: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.action__button a {
    text-decoration: none;
    color: #fff;
}
.action__button div:first-child {
    background: green;
}
.action__button div:nth-child(2) {
    background: red;
}
@media only screen and (max-width: 3000px) and (min-width: 1000px) {
.tooltip {
    display: inline;
}
}
.tooltip .tooltiptext {
    visibility: hidden;
    background: #000;
    color: #fff;
    font-size: 9px;
    padding: 5px 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #03567C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/** Modal **/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 30px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
/*  opacity: 0;*/
  transition: visibility 0s linear 0.1s,opacity 0.3s ease;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal.close {
visibility: hidden;
  transition-delay: 0s;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  color: #747474;
  font-weight: bold;
  cursor: pointer;
}
.modal__close:hover {
  color: #000;
}
@media only screen and (max-width: 3000px) and (min-width: 1000px) {
.modal__container {
    width: 400px !important;
    }
}

.modal__container {
  position: relative;
  z-index: 22;
  width: 80%;
  height: 100px;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  color: #000;
}
.modal__container p {
    font-size: 16px;
}
.transaction__popup__details {
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
 
.transaction__popup__details  .head {
    font-weight: 500;
    margin-bottom: 10px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #000;
}

.checkmark__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.checkmark__container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
 .checkmark__container input:checked ~ .checkmark {
  background-color:orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark__container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
 .checkmark:after {
  left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
  border: solid white;
  border-width: 0 4px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark__container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80px;
}
