
   body {
   	font-family: Barlow, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #EFF2F7;
    margin: 0;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
input[type=text], input[type=email], input[type=number], input[type=password] {
    width: 100%;
}
textarea {
    width: 95%;
}
select {
    width: 114%;
}

@media only screen and (max-width: 700px) {

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
}
/** Navigation Menu **/

.header {
    position: fixed;
    height: 60px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #EEE;
    padding: 1em 4em;
    background-color: #FFF;
    webkit-backface-visibility: hidden;
    z-index: 10;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

.header__hamburger {
    display: none;
}


.header__logo {
    height: 55px;
    width: 145px;
    left: 50px;
    display: inline-block;
    background-size: cover;
    background-image: url(../img/broad-bank.png);
    cursor: pointer;
    position: relative;
    z-index: 0;
    float: left;
}

@media only screen and (min-width: 767px) {
.header__account {
    float: right;
    position: relative;
    margin-right: 20px;
    width: 30%;
	}

}

.header__account__buttons {
    z-index: 20;
    min-width: 500px;
}

.relative {
    position: relative;
}
.no-margin {
    margin: 0;
}
.col-xs-6 {
    float: left;
    width: 70%;
}
.account__profile {
    display: inline-block;
    cursor: pointer;
    width: 85px;
    max-width: 85px;
}
.navbar__icon {
    display: block;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.navbar__text {
    margin-top: -5px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    max-width: 85px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.account .submenu {
    width: 100px;
    background: #fff;
    margin-top: 25px;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.06);
    position: absolute;
    border-radius: 3px;
   
}
.submenu-ul {
    list-style: none;
    padding: 1em 10px;
    margin: 0;
    cursor: pointer;
}
.show {
	 display: none;
}
.submenu-ul li{
	margin-top: 10px;
}
.submenu-ul a {
	color: #000;
	text-decoration: none;
}
@media only screen and (max-width: 767px) {
.header__hamburger {
    display: inline-block;
    float: left;
   	margin-top: 20px;
}
.header__account__buttons {
	display: none;
	}

	.mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #BF2532;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #7d6d6d;
    overflow: scroll;
	}
	.mobile-sidebar .mobile-profile {
    background: #fff;
    height: 180px;
    }
.mobile-setting {
    display: grid;
    grid-template-columns: 60% 40%;
}
.mobile-sidebar .mobile-profile-details {
    position: relative;
    left: 10%;
    height: 50px;
}
.mobile-sidebar .border-box ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.mobile-sidebar .border-box li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 0.9em;
    /* border-bottom: 1px solid #0a0a0a; */
    padding: 25px 20px;
    width: 100%;

}
.mobile-sidebar .border-box li a:hover {
    background: #912d35;

}
.mobile-sidebar .border-box li .fa {
    margin: 0 20px;
}
.mobile-sidebar .border-box .active {
    background: #912d35;

}
.mobile-profile-image {
    position: relative;
    top: 10px;
    left: 10%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid #DADADA;
    background: #DADADA;
}
.mobile-profile-image img{
    width: 100%;
    border: 1px solid #DADADA;
    border-radius: 50px;
}
.mobile-logout button {
    margin-top: 50px;
    background: #912d35;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
}
.false {
	display: none;
}
.account__side__wrapper {
    display: none;
}
}
/** Side Menu Navigation First Level **/
.sidebar__fixed--vertical {
    position: fixed;
    height: 100%;
    width: 250px;
    padding-top: 71px;
    left: 0;
    z-index: 10;
}
.sidebar__nav {
    padding: 1rem 0;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF2532', endColorstr='#BF2532', GradientType=0);
    position: absolute;
    top: 85px;
    width: 100%;
    height: 100%;
}

.sidebar__nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar__nav a {
		color: #fff;
		text-decoration: none;
}

.sidebar__list .fa {
	display: block;
}
.sidebar__list {
	margin: 10px 0;
    cursor: pointer;
}
.sidebar__nav__link.active {
    background-color: #912d35;
    box-shadow: -2px 0px 10px 0px rgba(191, 37, 50, 0.51);
    border-left: 4px solid #fff;
    cursor: pointer;
}

.sidebar__fixed--vertical .sidebar__nav__link {
    display: block;
}

@media only screen and (min-width: 992px) {
	.sidebar__fixed--vertical {
    width: 105px;
	}
	.sidebar__nav__link {
    padding: 1em;
    text-align: center;
	}

}

/*Side Navigation Second Level*/
.account__side__wrapper {
    background: #912d35;
    position: fixed;
    left: 7%;
    top: 80px;
    height: 100%;
}
.account__side__wrapper a {
	display: block;
	 color: #fff;
	 text-decoration: none;
	 font-size: 16px;
	 width: 100%;
}
.account__side__wrapper a:hover {
	background-color: #d65964;
}

.account__categories__list {
  /*  padding-bottom: 130px;*/
    position: relative;
}
.ps-container {
	padding: 20px 0;
	text-align: center;
}
.sidebar__nav {
        background-image: linear-gradient(to bottom, #BF2532 0%, #BF2532 100%);
    }
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
.account__side__wrapper {
    width: 260px;
}
.col-md-12 {
    float: left;
    width: 100%;
	}
	.mobile__profile {
	display: none;
	}
    header {
    z-index: 99;
    }
    
}



/** Footer **/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: white;
    z-index: 1;
    font-size: 1.3em;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
    color: #818a91;
    padding: 0 2em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/** Banner **/
.home__slider {
    position: relative;
    top: 85px;
    height: 450px;
  /*  background-size: cover;*/
    background-repeat: no-repeat;
    background-image: url(../img/broad-bank-banner.png);
    overflow: hidden;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
 .home__slider {
    margin-left: 100px;
}
}

.btn__login {
    color: #912d35;
    background-color: rgba(0, 0, 0, 0);
    border-color: #912d35;
}
.btn__register {
    color: #fff;
    background-color: #912d35;
    border: none;
}

.btn {
    position: relative;
    bottom: 20px;
    padding: 0 1em;
    line-height: 35px;
    border-radius: 4px;
    font-size: 0.89em;
    font-weight: 600;
    margin: 0 10px;
     cursor: pointer;
}

/** Sign Up **/
.account__modal .rodal {
    z-index: 101 !important;
}

.rodal {
    position: fixed;
    background: rgba(191, 37, 50, 0.8);
    color: #fff;

}

.rodal-fade-enter {
    -webkit-animation: rodal-fade-enter both ease-in;
    animation: rodal-fade-enter both ease-in;
}
.rodal, .rodal-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: scroll;
}

.account__modal .rodal-dialog {
    background: transparent;
    box-shadow: none;
    margin-top: 0 !important;
    top: 0;
    padding: 8rem 1em 1em 1em;
    overflow-y: auto;
}
.rodal-zoom-enter {
    -webkit-animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
    animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}
.rodal-dialog {
    position: absolute;
    top: 10%;
    right: 15%;
    z-index: 101;
    padding: 15px;
    width: 70%;
}
.account__alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.account__close--wrapper {
    position: relative;
    max-width: 440px;
    margin: 0 auto;
    text-align: right;
    /*top: -30px;*/
}
.account__close {
    width: 45px;
    height: 45px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}
.account__lg--width {
    max-width: 440px;
    margin: 0 auto;
    padding: 1em;
}
.account__heading {
    color: #FFF;
    font-size: 18px;
    margin-bottom: 1rem;
    text-align: center;
}
.form-group {
    margin-bottom: 0.8rem;
}
.float__label {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-bottom: 0;
    position: relative;
    font-size: 0.79em;
    transform: translateY(10px);
    transition: all 100ms ease-in;
}
.form-control {
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.account__links {
    font-size: 16px;
    text-align: center;
}
.account__links a {
    color: orange;
    text-decoration: none;
}
.btn-account {
    color: #FFF;
    background-color: #85B24E;
    border-color: transparent;
    width: 100%;
    margin-top: 1.2rem;
    margin-left: 0;
}
@media only screen and (max-width: 700px) {
 .btn-account {
    width: 114% !important;

}
}
/** Account Profile **/
.main {
    width: 100%;
}
 .bb__container {
    position: absolute;
    top: 85px;
    width: 100%;
    overflow: auto;
    background: #f9fafc;
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
 .bb__container {
    position: absolute;
    bottom: 35px;
    /*left: 105px;*/
    right: 0;
    width: 92%;
}
}
@media only screen and (max-width: 700px) {
 .bb__container {
    height: 80%;

}
}


.topProfileCon {
    display: block;
    width: 100%;
    height: 150px;
    z-index: 99;
}
.topProfileCon .profileWrapper {
    background: url(../img/bg.png) no-repeat;
    background-position: 50% 99%;
    background-size: cover;
    height: 100%;
    padding-top: 10px;
    width: 100%;
    opacity: 1;
    position: relative;
}

.topProfileCon .profileimg {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.PR {
    position: relative;
}
.DIB {
    display: inline-block;
}
.profileimg .userimg {
    border: 3px solid #FFFFFF;
}
.ssp-img {
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    border-radius: 100%;
}
.ssp-actions {
    position: absolute;
    top: 20px;
    right: 20px;
}
.bb__con {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.col_six {
    float: left;
    width: 47%;
    padding: 0px 5px;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
}
@media only screen and (max-width: 700px) {
.col_six {
    width: 100%;
    }
}
.bb__con .Card {
    margin-top: 20px;
}
.Card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden;
}
.prof_head {
    border: none;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
}
.prof_head h3 {
    font-size: 14px;
    font-family: "latobold";
    margin: auto;
    display: inline-block;
    vertical-align: sub;
}
.prof_body {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 100%;
    overflow-y: inherit;
}
.prof_l2c {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    border-top: 1px solid #EFF2F7;
}
.prof_l2c ul {
    list-style: none;
    min-height: 30px;
    line-height: 30px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
   }
  .prof_l2c .prof_title {
    font-weight: bold;
    text-align: right;
    font-size: 14px;
  }

  /** New Account Page **/
   .new-account__container {
    position: absolute;
    top: 85px;
    width: 100%;
    overflow: auto;
    background: #f9fafc;
}

.col_ten {
    float: left;
    width: 85%;
    padding: 0px 5px;
    -webkit-transition: width .4s ease;
    -moz-transition: width .4s ease;
    -o-transition: width .4s ease;
    transition: width .4s ease;
}
@media only screen and (max-width: 700px) {
.col_ten {
    width: 100%;
    }
}

.form__width {
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
}

@media only screen and (min-width: 700px) {
.double__field {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}
.triple__field {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 2%;
}
.quad__field {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1%;
}
}

/** Account History **/

.table__width {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}
.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
/*  overflow: scroll;*/
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
  word-spacing: 
}

.table tr:nth-child(even){background: #f2f2f2;}

.table tr:hover {background: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #85B24E;
  color: white;
}


/** Action Buttons **/
.action__button a {
    border: none;
    padding: 8px 20px;
    margin: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.action__button a:first-child {
    background: green;
}
.action__button a:nth-child(2) {
    background: red;
}
.action__button a:nth-child(3) {
    background: #85B24E;
}